:root{
  --dark: #535387;
  --grey: #a5a5c0;
  --light-grey: #d0d0e7;
  --light: #e2e2f0;
}

*{
  box-sizing: border-box;
  color: var(--dark);
}
.main {
  color: var(--dark);
  text-align: center;
  
}
.d-flex {
  display: flex;
  justify-content: space-around;
}
.container {
  display: flex;
  width: 35rem;
  flex-wrap: wrap;
  background-color: var(--light);
  align-items: center;
}
.input-container{
  width: 35rem; 
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--light);
  display:flex;
  align-items:center;
  justify-content: center;
}
.input{
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-style: 2px solid var(--grey);
}

.container-item {
  width: 6rem;
  height: 5rem;
  margin: 0.5rem;
  object-fit: cover;
  /* border: 1px solid #535387; */
}

.button{
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-style: 2px solid var(--grey);
}

.button:hover{
  background-color: var(--light-grey);
  border-style: none;
}

/* container blocks */

.d-flex {
  display: flex;
}

.main-block {
  position: relative;
}
.inside-block{
position: absolute;
right: 11rem;
top: 11rem;
}

.roll-dice-block{
  width: 12rem;
  padding: 1rem;
}
.roll-dice-block .button{
  width: 8rem;
  margin-top: 1rem;
}

.player-image{
  width: 100%;
  height: 100%;
}